PORT=3001
AWS_REGION=eu-central-1
AWS_PROFILE=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
ROOMS_REPOSITORY_DRIVER=dynamodb

DDB_USERS_TABLE=users
DDB_ROOMS_TABLE=rooms
DDB_ROOM_MEMBERS_TABLE=room-members
DDB_INVITES_TABLE=invites
DDB_CHAT_MESSAGES_TABLE=chat-messages
DDB_WS_CONNECTIONS_TABLE=websocket-connections
DDB_PLAYBACK_SNAPSHOTS_TABLE=playback-snapshots
DDB_REACTION_EVENTS_TABLE=reaction-events
DDB_SCHEDULED_PARTIES_TABLE=scheduled-parties
DDB_IDEMPOTENCY_EVENTS_TABLE=idempotency-events

COGNITO_USER_POOL_ID=eu-central-1_XXXXXXXXX
COGNITO_APP_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
COGNITO_ISSUER=https://cognito-idp.eu-central-1.amazonaws.com/eu-central-1_XXXXXXXXX
COGNITO_HOSTED_UI_DOMAIN=https://your-domain-prefix.auth.eu-central-1.amazoncognito.com
COGNITO_SWAGGER_SCOPES=openid profile email
# Add http://localhost:3001/api/docs/oauth2-redirect.html to Cognito App Client callback URLs
SWAGGER_OAUTH2_REDIRECT_URL=http://localhost:3001/api/docs/oauth2-redirect.html
